body{
      background-color:#191919;
      font-family: 'Manrope', sans-serif;
      color: white;
}
.menu-principal{
     background-color:rgb(0, 0, 0);
     display: flex;
     justify-content: right;
     position: fixed;    
     top: 0;
     width: 100%;      
     z-index: 1000;   
}
.menu-principal ul {
     align-items: center;
     list-style: none;
     height: 40px;
     margin-right:45px ;
     padding: 0;
     display: flex;
 }
 .menu-principal li {
     margin: 0;
     padding: 0;
 }
 .menu-principal a {
     display: block;
     padding: 15px 20px;
     color: white;
     font-family: 'Manrope', sans-serif;
     text-decoration: none;
     transition: background-color 0.3s;
 }
 .contenido-container{
     padding-top: 90px;
     z-index: -1;
 }
 .aboutme-container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin-top: 50px;
     margin-left: 100px;
     margin-bottom: 150px;
     box-sizing: border-box;
 }
 .aboutme-content{
     flex: 1;
     width: 70%;
     margin: 0 70px;
 }
 .aboutme-content h2{
     font-size: 40px;
     margin-bottom: 20px;
 }
 .botones-redes{
     display: flex;
     margin-top: 50px;
 }
 .boton{
     justify-content: center;
     align-items: center;
     display: flex;
     text-decoration: none;
     background-color: #000000;
     color: white;
     border: 1px solid white;
     border-radius: 15px;
     padding: 10px 20px;
     margin: 0 10px;
 }
 .flecha{
     margin: 0 0 0 15px;
 }
.boton:hover{
     border-color: #000000;
     background-color: white;
     color: black;
     .imagen-red,.flecha{
         filter: invert(1);
     }
}
.imagen-red{
     margin: 0 15px 0 0;
     width: 30px;
     height: 30px;
}
 .aboutme-imagen{
     /* Alinear la imagen al centro*/
     
     overflow: hidden;
     display: flex;
     justify-content: center;
     margin: 0 30px;
     flex: 1;   
     width: 30%;
 }
.aboutme-imagen img{
     border-radius: 50%;
     background-color: #000000;
     border: 1px solid white;
     width: 400px;
     height: 400px;
     object-fit: cover;
     top: 0;
     left: 0;
     right: 0;
     
}
.skills-container{
     height: 90vh;
     background-color: #000000;
 }
 .skills-content{
display: flex;
     width: 70%;
     margin: 0 70px;
 }